body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('/pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
  }